@font-face {
	font-family: Inter;
	src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
	font-family: Clash Display;
	src: url("fonts/ClashDisplay-Variable.ttf");
}
@font-face {
	font-family: Papyrus;
	src: url("fonts/papyrus.ttf");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: linear-gradient(#ddd 50%, #444 50%);
	scroll-behavior: smooth;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, -100px);
	width: 98%;
	border-radius: 10px;
	background: linear-gradient(167deg, #444, #222 40% 60%, #444 100%);
	background-size: 200% 100%;
	background-position-x: left;
	padding: 10px 30px;
	color: #fff;
	margin: 10px 0px;
	transition: 1s ease;
	border: 2px solid #777;
	animation: header-fade 1s ease-out 1s forwards;
}
header:hover {
	background-position-x: right;
}
@keyframes header-fade {
	from { transform: translate(-50%, -100px); }
	to { transform: translate(-50%, 0px); }
}
header > a {
	color: #ddd;
	text-decoration: none;
	font: 600 larger "Inter";
}
header > nav {
	display: flex;
	align-items: center;
	gap: 4px;
}
header > nav > a {
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 55px;
	border-radius: 10px;
	transition: .3s;
}
header > nav > a:hover {
	background-color: #666;
}

#presentacion {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
	height: 800px;
}
#presentacion > div {
	grid-row: 2 / 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Clash Display";
}
#presentacion > div > h1 {
	font-size: 90px;
	font-weight: 600;
	background: -webkit-linear-gradient(right, #444, #222);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 8px 8px 14px #33333350;
}
#presentacion > div > h3 {
	font-size: 30px;
	font-weight: 400;
}
#presentacion > a {
	grid-row: 3 / 3;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
#presentacion > a > img {
	animation: floating-button 1.5s ease-in-out infinite alternate;
}
#presentacion > a > p {
	font: 500 30px "Inter";
	letter-spacing: -1px;
	color: #333;
	transition: .2s;
}
#presentacion > a:hover > p {
	text-decoration: underline;
}
@keyframes floating-button {
	from {transform: translateY(0px);}
	to {transform: translateY(-10px);}
}

#proyectos {
	color: #ddd;
	padding: 100px 18%;
	background-color: #444;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}
#proyectos > h1 {
	font: 600 50px "Clash Display";
	grid-column: 1 / span 3;
}
#proyectos > div {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
#proyectos > div > a > div {
	aspect-ratio: 16 / 9;
	width: 100%;
	border-radius: 10px;
	outline: 6px solid transparent;
	transition: .3s;
}
#proyectos > div:nth-child(2) > a > div {
	background: url("imgs/mdm.png") center;
	background-size: 120%;
}
#proyectos > div:nth-child(3) > a > div {
	background: url("imgs/avellaneda.png") center;
	background-size: 120%;
}
#proyectos > div:nth-child(4) > a > div {
	background: url("imgs/mpw.png") center;
	background-size: 120%;
}
#proyectos > div:nth-child(5) > a > div {
	background: url("imgs/freakyzzeria.png") center;
	background-size: 120%;
}
#proyectos > div:nth-child(6) > a > div {
	background: url("imgs/truco.png") center;
	background-size: 120%;
}
#proyectos > div > a:hover > div {
	background-size: 100%;
	outline-color: #9fb1a2;
}
#proyectos > div > a {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #ddd;
	text-decoration: none;
}
#proyectos h3 {
	font: 700 30px "Inter";
}
#proyectos > div > a:hover > h3 {
	color: #fff;
}
#proyectos p {
	font: 400 20px "Inter";
	line-height: 1.25em;
}
#proyectos p a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
#proyectos span {
	font-family: "Papyrus";
}

#contacto {
	font-family: "Clash Display";
	font-weight: 600;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: linear-gradient(150deg, #222, #000);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
#contacto h1 {
	grid-column: 1 / span 3;
	text-align: center;
	color: #ddd;
	font-size: 50px;
}
#contacto a {
	background-color: #333;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-direction: column;
	color: #ddd;
	text-decoration: none;
	font-size: 28px;
	gap: 20px;
	padding: 20px 40px;
	width: 90%;
}